body {
    background-color: #A8C0A0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.navbar {
    background: #3E4A34;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.navbar select {
    background: #D4A373;
    color: black;
    padding: 5px;
}

.section {
    padding: 30px;
}

.btn {
    background-color: #A3B18A;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.calendar-container {
    display: flex;
    justify-content: center;
}
